* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
}

svg {
  width: 100vw;
  /* height: 100vh; */
}

.progress {
  width: 0%;
  height: 5px;
  background:linear-gradient(100deg, rgb(74, 22, 22),red,white,blue,black,pink);
}

button {
  padding: 1rem;
  cursor: pointer;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: centerx;
}

.indicator input {
  margin: 0 1rem;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  width: 100px;
}
